In [1]:
import layer

In [2]:
layer.login()

In [3]:
customer_features_df = layer.get_features(["customer_features"])

In [4]:
customer_features_df

     SpendingScore  Age
0               39   19
1               81   21
2                6   20
3               77   23
4               40   31
..             ...  ...
195             79   35
196             28   45
197             74   32
198             18   32
199             83   30

[200 rows x 2 columns]

In [5]:
import layer
layer.login()
customers_dataset = layer.get_dataset("customers")
df = customers_dataset.to_pandas()
df.head()

   SpendingScore  AnnualIncome  CustomerID  Age  Gender
0             39            15           1   19    Male
1             81            15           2   21    Male
2              6            16           3   20  Female
3             77            16           4   23  Female
4             40            17           5   31  Female